* {
  margin: 0;
  padding: 1rem;
  font-size: 1em;
  font-family: inherit;
}
html {
  padding: 0 1rem;
}
body {
  font-family: "Playfair Display", sans-serif;
  padding: 0;
}
main {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 10vh auto auto 10vh 10vh;
  grid-gap: 10px;
  grid-template-areas:
    "navbar"
    "sign-in-form"
    "welcome"
    "market-sites"
    "footer";
}
@media screen and (max-width: 800px) {
  main {
    display: block;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
  }
}

.sign-in-form {
  color: #333;
  grid-area: sign-in-form;
  margin: 0 30%;
  text-align: center;
}

.sign-in-form button {
  background-color: #e00083;
  width: 100%;
  color: white;
  font-size: 1rem;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 30px;
}