@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 1rem;
  font-size: 1em;
  font-family: inherit;
}
html {
  padding: 0 1rem;
}
body {
  font-family: "Playfair Display", sans-serif;
  padding: 0;
}
main {
  display: grid;
  grid-template-columns: 50%;
  grid-template-rows: 10vh auto auto 10vh 10vh;
  grid-gap: 10px;
  grid-template-areas:
    "nav       nav"
    "welcome-message      sign-in-form"
    "market-sites market-sites"
    "footer       footer";
}

.welcome-message {
  grid-area: welcome-message;
}

nav {
  grid-area: nav;
  background-color: #333;
  color: white;
  font-family: "Lato", serif !important;
}

.market-sites {
  grid-area: market-sites;
  text-align: center;
  background-color: #e00083;
  color: white;
}
footer {
  grid-area: footer;
  text-align: center;
  background-color: #333;
  color: white;
}
.sign-in-form {
  color: #333;
  grid-area: sign-in-form;
  margin: auto 30%;
  text-align: center;
}

.sign-in-form button {
  background-color: #e00083;
  width: 100%;
  color: white;
  font-size: 1rem;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 30px;
}

.sign-in-form button:hover,
.market-sites:hover {
  background-color: rgba(224, 0, 131, 0.5);
}

li {
  display: inline;
}
@media screen and (max-width: 800px) {
  main {
    display: block;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
  }
}
